:root {
    --background: #fff5e2;
    --primary: #603c2f;
    --secondary: ;
    --hover-primary: #805647;
    --hover: #f2e3c7;
    --successes: #41b243;
    --card: #e0c188;

    --text-primary: white;
    --text-successes: white;
    --text-strong: #343A40;
    --text-soft: #495057;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Generales */

textarea {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--primary);
    resize: none;
    min-height: 116px;
}

textarea::placeholder {
    color: var(--primary);
}

textarea:focus {
    outline: none;
}

button {
    background-color: transparent;
    border: solid 2px var(--primary);
    padding: 24px;
    border-radius: 24px;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
}

.active {
    background-color: var(--primary);
    color: var(--text-primary);
}

.active:hover {
    background-color: var(--hover-primary);
}

/* Especificas */

main{
    display: flex;
    height: 100vh;
    padding: 40px;
    gap: 80px;
    background-color: var(--background);
    overflow: hidden;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo img#alura {
    height: 50px;
}

.logo img#my-logo {
    height: 65px;
}

.input {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0;
}

.input textarea {
    flex: 1;
}

.input .alert {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin: 16px 0;
}

.input .alert p {
    font-size: 0.75rem;
}

.input-buttons {
    display: flex;
    gap: 24px;
}

.input button {
    width: 100%;
}

.output {
    background-color: var(--card);
    border-radius: 32px;
    width: 400px;
    padding: 32px;
}

.output img{
    height: 375px;
    object-fit: contain;
}

#output-primary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    text-align: center;
}

#output-primary h2 {
    color: var(--text-strong);
}

#output-primary p {
    color: var(--text-soft);
}

#output-response {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 16px;
}

#output-response textarea {
    flex: 1;
}

.correct-copy, .correct-copy:hover {
    background-color: var(--successes);
    color: var(--text-successes);
    transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 1080px) {
    main{
        flex-direction: column;
        gap: 32px;
    }
    
    .logo{
        display: flex;
        flex-direction: row;
    }
    
    .output {
        width: 100%;
    }
    
    .output img {
        display: none;
    }
}

@media (max-width: 520px) {
    textarea {
        font-size: 1.75rem;
    }

    main{
        min-height: 100vh;
        padding: 40px 16px;
        gap: 0;
        overflow: auto;
    }

    .logo img {
        height: 35px;
    }

    .input-buttons {
        flex-direction: column;
    }
}

/* scroll edit */
textarea::-webkit-scrollbar { 
    width: 8px;
}

textarea::-webkit-scrollbar-track { 
    background: transparent; 
}

textarea::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 15px;
    cursor: pointer;
}